@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


@import "header";
@import "aboutUs";
@import "services";
@import "whatWeDo";
@import "contactUs";



@include reset();

$whiteColor: #ffffff;
$blackColor: #3c3c3c;

html {
    font-size: 18px;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

}

// .aboutUs {
//     @include col();
//     @include size-md(12);
// }

//-------------------------Media---------------------------/

@media screen and (max-width: 1000px) {
     html {
       font-size: 12px;
   }

    .header {
        min-height: 500px;
        background: #abb6ca;
    }

    .services {
        background: #abb6ca;
    }

    .whatWeDo {
        min-height: 500px;
    }


    .aboutUsItems {
        @include row-flex();
        justify-content:center;
        @include size-md(8);
    }

    .servicesItems {
        @include row-flex();
        justify-content:center;
        @include size-md(8);
    }

    .whatWeDoItems {
        @include row-flex();
        justify-content:center;
        @include size-md(8);
    }

    .contactUsItems {
        @include row-flex();
        justify-content:center;
        @include size-md(8);
    }

    .contactUsButton {
        @include row-flex();
        justify-content: center;
        @include size-md(4);
    }


}

@media screen and (max-width: 660px) {
     html {
       font-size: 10px;
   }

    .header {
        background: #abb6ca;
    }

    .services {
        min-height: 100px ;
        background: #abb6ca;
    }

    .header,
    .aboutUs,
    .services,
    .whatWeDo,
    .contactUs {
        margin: 0.75rem;
        padding: 3rem;
    }

    .aboutUs,
    .contactUs {
        min-height: 400px;
    }

    .header,
    .whatWeDo {
        min-height: 600px;
    }

    .headerTitle,
    .aboutUsTitle,
    .servicesTitle,
    .whatWeDoTitle,
    .contactUsTitle {
        @include row-flex();
        justify-content:center;
        @include size-xs(10);
    }


    .headerItems {
        @include row-flex();
        justify-content:center;
        @include size-xs(8);
    }

    .aboutUsItems {
        @include row-flex();
        justify-content:center;
        @include size-xs(8);
    }

    .servicesItems {
        @include row-flex();
        justify-content:center;
        @include size-xs(8);
    }

    .whatWeDoItems {
        @include row-flex();
        justify-content:center;
        @include size-xs(8);
    }

    .contactUsItems {
        @include row-flex();
        justify-content:center;
        @include size-xs(8);
    }

    .contactUsButton {
        padding: 0.75rem 6rem;
        @include row-flex();
        justify-content: center;
        @include size-xs(4);
    }


}