@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.header {
  background: url(../img/header.png) 100% 100% no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 1000px;
  position: relative; }

.headersItems {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.headersTitle {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 1.2rem 0 1rem 0; }

.headersSubTitle {
  color: #ffffff;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase; }

.headersSign {
  position: absolute;
  bottom: 3rem;
  left: center; }

.aboutUs {
  min-height: 500px;
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff; }

.aboutUsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 6rem;
  width: 40%;
  color: #3c3c3c;
  text-align: center;
  border: 0.25rem solid black; }

.aboutUsTitle {
  margin-top: -4.75rem;
  padding: 1.25rem 2.25rem;
  width: 60%;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffffff; }

.aboutUsSubTitle {
  font-weight: 300;
  padding-top: 3rem; }

.services {
  background: url(../img/services.png) 100% 100% no-repeat;
  min-height: 500px;
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff; }

.servicesItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 6rem;
  width: 40%;
  color: #ffffff;
  text-align: center;
  border: 0.25rem solid white; }

.servicesTitle {
  margin-top: -4.75rem;
  padding: 1.25rem 2.25rem;
  width: 60%;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #3c3c3c;
  background: rgba(255, 255, 255, 0);
  z-index: 1000; }

.servicesSubTitle {
  padding-top: 2rem;
  font-weight: 300; }

.whatWeDo {
  min-height: 1400px;
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff; }

.whatWeDoItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 6rem;
  width: 40%;
  color: #3c3c3c;
  text-align: center;
  border: 0.25rem solid black; }

.whatWeDoTitle {
  margin-top: -3rem;
  padding: 1.25rem 2.25rem;
  width: 65%;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: white; }

.whatWeDoSubtitle {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center; }

.whatWeDoItem {
  width: 80%;
  padding-top: 1rem; }

.whatWeDoImg {
  margin: 2rem 0; }

.whatWeDoDescription {
  font-weight: 300;
  padding-bottom: 2rem; }

.contactUs {
  padding-top: 4rem;
  min-height: 500px;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #abb6ca; }

.contactUsItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 6rem;
  width: 40%;
  color: #ffffff;
  text-align: center;
  border: 0.25rem solid black; }

.contactUsTitle {
  margin-top: -5rem;
  padding: 1.25rem 2.25rem;
  width: 65%;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #abb6ca; }

.contactUsSubTitle {
  padding: 3rem 0; }

.contactUsButton {
  color: #ffffff;
  padding: 1.5rem 10rem;
  font-family: "Lato";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: #3c3c3c;
  outline: 0;
  cursor: pointer;
  border: 0; }

.contactUsButton:hover {
  background-color: black; }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 18px; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px; }
  .header {
    min-height: 500px;
    background: #abb6ca; }
  .services {
    background: #abb6ca; }
  .whatWeDo {
    min-height: 500px; }
  .aboutUsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 1000px) and (max-width: 960px) {
    .aboutUsItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 1000px) {
  .servicesItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 1000px) and (max-width: 960px) {
    .servicesItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 1000px) {
  .whatWeDoItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 1000px) and (max-width: 960px) {
    .whatWeDoItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 1000px) {
  .contactUsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 1000px) and (max-width: 960px) {
    .contactUsItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 1000px) {
  .contactUsButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 1000px) and (max-width: 960px) {
    .contactUsButton {
      width: calc(33.33333% - 30px); } }

@media screen and (max-width: 660px) {
  html {
    font-size: 10px; }
  .header {
    background: #abb6ca; }
  .services {
    min-height: 100px;
    background: #abb6ca; }
  .header,
  .aboutUs,
  .services,
  .whatWeDo,
  .contactUs {
    margin: 0.75rem;
    padding: 3rem; }
  .aboutUs,
  .contactUs {
    min-height: 400px; }
  .header,
  .whatWeDo {
    min-height: 600px; }
  .headerTitle,
  .aboutUsTitle,
  .servicesTitle,
  .whatWeDoTitle,
  .contactUsTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .headerTitle,
    .aboutUsTitle,
    .servicesTitle,
    .whatWeDoTitle,
    .contactUsTitle {
      width: calc(83.33333% - 30px); } }

@media screen and (max-width: 660px) {
  .headerItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .headerItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 660px) {
  .aboutUsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .aboutUsItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 660px) {
  .servicesItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .servicesItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 660px) {
  .whatWeDoItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .whatWeDoItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 660px) {
  .contactUsItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .contactUsItems {
      width: calc(66.66667% - 30px); } }

@media screen and (max-width: 660px) {
  .contactUsButton {
    padding: 0.75rem 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
  @media screen and (max-width: 660px) and (max-width: 560px) {
    .contactUsButton {
      width: calc(33.33333% - 30px); } }
