.services {
  background: url(../img/services.png) 100% 100% no-repeat;
  min-height: 500px;
  margin: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; }

.servicesItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 6rem;
  width: 40%;
  color: #ffffff;
  text-align: center;
  border: 0.25rem solid white; }

.servicesTitle {
  margin-bottom: 4.75rem;
  padding: 1.25rem 2.25rem;
  width: 60%;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #3c3c3c;
  background: rgba(255, 255, 255, 0);
  z-index: 1000; }

.servicesSubTitle {
  padding-top: 2rem;
  font-weight: 300; }
